PORT=3003

DATABASE_URL="sqlserver://localhost:1435;database=master;user=sa;password=Pass1234*;encrypt=true;trustServerCertificate=true"

NATS_SERVERS="nats://localhost:4222"
NATS_USER='admin'
NATS_PASS='admin'

DB_NAME='master'
DB_USER='sa'
MSSQL_SA_PASSWORD='Pass1234*'